[submodule "HackatonItAnatrocApi"]
	path = HackatonItAnatrocApi
	url = git@github.com:AlexBDev/HackatonItAnatrocApi.git
[submodule "AnatrocFrontEnd"]
	path = AnatrocFrontEnd
	url = git@github.com:YannigSmagghe/AnatrocFrontEnd.git
